.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 316px;
    padding: 2px;   
    list-style-type: none;
    margin: 0 auto;
}