
.container {
    display: flex;   
    align-items: center; 
    justify-content: space-between;
    margin: 0 auto;
    width: 300px;
    margin-right: 10px;

   }
.contact {   
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 4px;

}

.button {
    width: 60px;
    height: 28px;
    text-align: center;    

}
.items {
    display: flex;       
    gap: 8px;
    margin: 0;
    font-size: 12px;
}